
nav {
  display: flex;
  border-bottom: 1px solid #F2F4F6;
  position: relative;
  z-index: 99;
  background-color: #F2F4F6;
  .container {
    max-width: 1460px;
    width: 1460px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .active {
    background-color: #007bff;
    border-radius: 5px; /* Borda arredondada na rota ativa */
    padding: 5px 10px; /* Espaçamento interno na rota ativa */
  }
  .nav-mobile {
    display: none;
  }
}
.logo {
  width: 50px;
  // font-size: 22px;
  // font-family: monospace;
  // color: #454545;
  // margin: auto 50px auto 0;
  // font-weight: bolder
}
.list {
    display: flex;
    flex-direction: row;
  .item {
    color: #454545;
    display: flex;
    padding: 16px 24px;
    cursor: pointer;
    font-size: 16px;
    font-family: arial;
    position: relative; 
    .title-item {
      display: flex; 
      position:relative;
      user-select: none;
      &:before,
      &:after {
          content: "";
          position: absolute;
          width: 0px;
          height: 3px;
          margin: 5px 0 0;
          transition: all .25s cubic-bezier(0.340, 0.370, 0.055, 1.560);
          opacity: 1;
          background-color: #454545;
          left: 0;
          bottom: -8px;
      }
      
    }
    .arrow {
      font-size: 11px;
      margin-left: 8px;
      margin-top: 3px;
    }
    &:hover {
      .title-item {
        &:before,
          &:after {
            width: 100%;
            opacity: 1;
        }
      }
    }
  }

  .nav-dropdown {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.3s, opacity 0.3s;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    &.open {
        max-height: 200px; /* Defina a altura máxima que desejar */
        opacity: 1;
    }

    .item {
        padding: 10px;
        opacity: 0;
        transform: translateY(-10px); /* Inicialmente, move os itens para cima */
        transition: opacity 0.3s, transform 0.3s; /* Adicione transições para os itens */

        &:last-child {
            border-bottom: none;
        }
    }

      &.open .item {
          opacity: 1;
          transform: translateY(0); 
          width: 200px;
      }
  }

  .dropdown-item {
      position: relative;

    &:hover {
        .nav-dropdown {
            max-height: 200px;
            opacity: 1;
        }
    }
  }
}

@media (max-width: 768px) {
  nav {
    
    .nav-mobile {
      display: block;
    }
    .container {
      display: flex;
      justify-content: space-between;
    }
    .list {
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 60px; // Altura do seu navbar
      right: 0;
      width: 100%;
      background-color: #F2F4F6;
      display: none;
  
      &.mobile-open {
        display: flex;
      }
  
      .item {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #ccc;
        &:last-child {
          border-bottom: none;
        }
  
        .nav-dropdown {
          max-height: none;
  
          .item {
            width: 100%;
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}